/* Clerk Sign In Button Customization */

.cl-signIn-start {
  width: auto;
  height: auto;

  margin: 0;
  padding: 0;
  border: none;

  background-color: transparent;
  box-shadow: none;
}

.cl-internal-b3fm6y,
.cl-headerTitle,
.cl-headerSubtitle,
.cl-footerAction {
  display: none;
}

.cl-socialButtonsBlockButton {
  width: 270px;
  height: 50px;

  border: none;

  color: white;
  background-color: #f1a187;
}

.cl-socialButtonsBlockButton:hover {
  color: black;
  background-color: #f1a18734;
}

.cl-socialButtonsBlockButtonText {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 500;
}

.cl-socialButtonsBlockButtonArrow__google {
  opacity: 1;
}
